html,body{
  padding: 0px;
  margin: 0px;
  background-color: white;
  font-size: 30px;
  font-family: 'Cabin', sans-serif;
  color: gray;
}


.backgr{
  background-image: url("../imgs/pluto-uploading-1.png");
  height: 200px;
  background-size: 300px;
  background-position: center top;
  background-repeat: no-repeat;
  }

.text-container{
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1{
  padding: 10px;
  margin: 0px;
  text-align: center;

}

h4,h6{
  padding: 10px;
  margin: 0px;
  font-weight: lighter;
  text-align: center;
}

h6{
  font-size: 12px;
}
a{
  text-decoration: none;
  color: inherit;
}