html {
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  height: 100%;
  color: white;
  font-family: 'Cabin', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-repeat: no-repeat;
  font-size: 62.5%;
}

.main figure {
  width: 300px;
  height: 300px;
  /* display: flex; */
}

.main img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  /* flex-shrink: 5; */
}

h1 {
  font-size: 6rem;
  text-align: center;
}

p {
  font-size: 4rem;
  text-align: center;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 50px;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;

}

.github img, .twitter img, .linkedin img {
  width: 50px;
  margin: 0 25px;
}

.platzi img{
  height: 60px;
}

figure {
  margin: 0;
}

body {
  margin: 0 auto;
}